<h1>Words Library </h1>

<ul>
  <li><a href="/*insert route here">*insert words here</a></li>
</ul>


//input sumbit function
<form class="" action="index.html" method="post">
  <div class="">
    <label for=""></label>
    <input type="button" name="name" value="">
  </div>
  <div class="">
    <label for=""></label>
    <input type="button" name="name" value="">
  </div>
  <button type="submit" name="button">Submit</button>
</form>
