<h1>Word Definition</h1>

#foreach ($word in $words)
<h4>insert word definition here</h4>
#end


//Submit more Definition

<form class="" action="index.html" method="post">
  <div class="">
    <label for=""></label>
    <input type="button" name="name" value="">
  </div>
  <button type="submit" name="button"></button>
</form>
